{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row card-row">
    <div class="col-12 mx-auto my-auto">
      <div class="card">
        <div class="card-header text-center">
          <h1>About Obesity</h1>
        </div>
        <div class="card-body">
          <h2 class="h4">Overview</h2>
          <p class="mb-4">
            Obesity can put you at risk of serious health problems. Health experts certainly agree that it has reached
            epidemic proportions around the world, especially in most developed countries. It is vital that we become a
            part of the solution through prevention and correction. Additionally, we need to promote a healthier
            lifestyle as this generally provides a solid solution for everyone.
          </p>
          <h2 class="h4">Treatment</h2>
          <p class="mb-0">
            The two most simple methods of obesity/overweight is by eating a healthy balanced diet and engaging in
            regular exercise. Effectively doing so will inevitably result in weight loss. Our bodies certainly respond
            and adjust well, especially when we are transitioning between two significantly different lifestyles. When
            we consume fewer calories than before, our bodies begin to burn energy which helps us to lose body fat. In
            addition, when we consume healthier alternatives than junk food, we reap great benefits such as better skin
            and less risk of diseases. Moreover, exercising help us to control our weight. We can also burn energy using
            exercise as well as get into better shape. The benefits of both these changes will also have a massive
            influence over our mental health which is just as important as our physical health.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}