{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row card-row">
    <div class="col-12 mx-auto my-auto">
      <div class="card">
        <div class="card-header text-center">
          <h1>A Guide to Healthy Eating</h1>
        </div>
        <div class="card-body">
          <h2 class="h4">Overview</h2>
          <p class="mb-4">
            Eating a healthy, balanced diet is vital to maintaining both physical and mental health. It is important
            that we follow a guide so we do not fall into any misconceptions or misleading information.
          </p>
          <h2 class="h4">Fruits and Vegetables</h2>
          <p class="mb-4">
            The general guideline is that we should consume five portions of a variety of fruits and vegetables. They
            are easy to consume as they are not dense in calories. Also, there are different methods in consuming them
            such as creating smoothies. This is recommended as they are a great source of vitamins and minerals.
            Additionally, they are fantastic alternatives to snacks.
          </p>
          <h2 class="h4">Starchy Foods</h2>
          <p class="mb-4">
            Starchy foods are our main source of carbohydrates and play an important role in a healthy diet. There are
            many varieties of starchy foods. One example is wholemeal which contain more vitamins and minerals than
            junk food.
          </p>
          <h2 class="h4">Milk and Dairy</h2>
          <p class="mb-4">
            Foods within this category are great sources of protein. This is essential if your goal is to put on muscle
            as well as lose weight. Additionally, these also contain certain vitamins and minerals that are extremely
            beneficial such as calcium.
          </p>
          <h2 class="h4">Foods High in Protein</h2>
          <p class="mb-0">
            This includes foods such as fish, eggs, meat etc. Similar to the previous category, protein us an important
            macronutrient. This helps our body to grow and repair itself which is essential when exercising as our
            bodies need protein to help adjust to change.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}