{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row card-row">
    <div class="col-12 col-sm-9 col-lg-6 mx-auto my-auto">
      <div class="card">
        <div class="card-header text-center">
          <h1>Flashcards</h1>
        </div>
        <div class="card-body text-center d-flex align-items-center flex-column">
          <div class="flip-card mt-5 mb-5">
            <div class="flip-card-inner">
              <div class="flip-card-front p-3">
                <h5 class="m-0">{{ question }}</h5>
              </div>
              <div class="flip-card-back p-3">
                <p class="m-0">{{ answer }}</p>
              </div>
            </div>
          </div>
          <a class="btn btn-primary" href="{{ url_for('calories.flashcards') }}">
            <i class="fas fa-sync-alt fa-fw me-1"></i>Refresh Flashcard
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}