{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row card-row">
    <div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6 col-xxl-5 mx-auto my-auto">
      <div class="card">
        <div class="card-header text-center">
          <h1 class="text-danger">Bad request</h1>
        </div>
        <div class="card-body text-center">
          <p class="m-0">You have sent a request that is not valid.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}