{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row card-row">
    <div class="col-12 col-xxl-10 mx-auto my-auto">
      <div class="card">
        <div class="card-header text-center">
          <h1>Recipes</h1>
        </div>
        <div class="card-body">
          <div class="d-flex mb-3">
            <div class="flex-grow-1">
              <div class="input-group">
                <input class="form-control" id="search-input" type="text" placeholder="Search Recipes">
                <button class="btn btn-primary" id="search-button" type="button">
                  <i class="fas fa-search fa-fw me-sm-1"></i><span class="d-none d-sm-inline">Search</span>
                </button>
              </div>
            </div>
            <div class="ms-1">
              <div class="input-group">
                <a class="btn btn-success {% if not current_user.is_authenticated %}disabled{% endif %}"
                  href="{{ url_for('recipes.create') }}?back={{ request.path }}">
                  <i class="fas fa-plus fa-fw me-sm-1"></i><span class="d-none d-sm-inline">Create Recipe</span>
                </a>
              </div>
            </div>
          </div>
          {% if recipes %}
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
            {% for recipe in recipes %}
            <div class="col">
              <div class="card">
                <div class="card-header text-center">
                  <h2 class="m-1 h5">{{ recipe.name }}</h2>
                </div>
                <div class="card-body">
                  <p class="m-0"><strong>Calories:</strong> {{ recipe.calories }}kcal</p>
                  <p class="m-0"><strong>Fat:</strong> {{ recipe.fat }}g</p>
                  <p class="m-0"><strong>Carbohydrate:</strong> {{ recipe.carbohydrate }}g</p>
                  <p class="m-0"><strong>Protein:</strong> {{ recipe.protein }}g</p>
                  <p class="m-0"><strong>Created by:</strong> {{ recipe.user_name }}</p>
                  <p><strong>Updated on:</strong> {{ recipe.updated_on.strftime("%d/%m/%Y") }}</p>
                  <a class="btn btn-sm btn-info" href="{{ url_for('recipes.view', id=recipe.id) }}" data-toggle="tooltip" title="View Recipe">
                    <i class="fas fa-eye fa-fw"></i>
                  </a>
                  {% if recipe.user_id == current_user.id or current_user.is_admin %}
                  <a class="btn btn-sm btn-warning" href="{{ url_for('recipes.edit', id=recipe.id) }}?back={{ request.path }}" data-toggle="tooltip"
                    title="Edit Recipe">
                    <i class="fas fa-pen fa-fw"></i>
                  </a>
                  <a class="btn btn-sm btn-danger" href="{{ url_for('recipes.delete', id=recipe.id) }}?back={{ request.path }}" data-toggle="tooltip"
                    title="Delete Recipe">
                    <i class="fas fa-trash fa-fw"></i>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <p class="text-center m-0">
            There are no recipes to be displayed!
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}